@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    color: #777777;
}

h2,
h4 {
    font-family: "Playfair", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #9a67f8db;
}

.logo {
    float: left;
    font-size: 150%;
    color: #9a67f8db;
}

.logo:hover {
    font-size: 160%;
}

.logo,
#menu {
    line-height: 75px;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

@media (max-width: 768px) {

    .logo,
    #menu {
        line-height: 50px;
    }

    #menu li {
        margin-right: 20px;
    }

    h2,
    h4 {
        font-size: 18px;
    }
}


#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/Property7.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#cover-text {
    color: #130202;
    font-size: 100%;
    font-family: "playfair";
    letter-spacing: 2px;
    width: 90%;
    max-width: 500px;
    padding: 25px 10px;
    background-color: rgba(211, 194, 200, 0.7);
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

#reviews {
    padding: 20px;
}

#left-about,
#right-about,
#center-about {
    padding-top: 30px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.box {
    border: 8px solid #CCCC00;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
}

footer {
    height: 150px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #9a67f8db;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-button {
    padding: 20px 40px;
    font-size: 18px;
    text-decoration: none;
    background-color: #CCCC00;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.contact-button:hover {
    background-color: #FFFF00;
}

.form-section {
    clear: left;
    background: url("../images/Propertyup.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

textarea {
    background: transparent;
    border: 1px solid #fafafa;
    width: 100%;
    padding: 10px;
}

textarea:hover {
    border-color: #f16c6b;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;

}

.submit-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}